<div class="d-flex align-items-center justify-content-around my-3">
  <div class="icon-container">
    <%= gravatar_for(current_user, options = { class: 'chat_pfp' })%>
    <%= turbo_stream_from "user_status" %>

    <div>
      <%= render "users/status", user: current_user %>
    </div>
  </div>
  <div class="ms-2 username text-white"><%= current_user.email.upcase %></div>
</div>
