<% if params[:search].present? && users.empty? %>
  <p>No results</p>
<% else %>
  <div class="results-list">
    <ul class="list-group">
      <% users.each do |user| %>
        <%= link_to user, class: "list-group-item-action" do %>
          <%= gravatar_for(user, options = { class: "chat_pfp"}) %>
          <%= highlight(user.email, params[:search]) %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
