<% if current_user %>
  <div class="search-form d-flex flex-column" data-controller="search-form">
    <%= form_with url: search_path, method: :post,
                  data: { search_form_target: "form" } do |f| %>
      <%= f.search_field :search,
            class: "form-control me-2", placeholder: "Search for users",
            data: { search_form_target: "input",
                    action: "input->search-form#search" } %>
    <% end %>
    <div id="search_results" data-search-form-target="results" >
    </div>
  </div>
<% end %>
